/* 
* @Author: Draco
* @Date:   2015-03-03 15:28:46
* @Last Modified by:   Administrator
* @Last Modified time: 2015-03-06 15:43:30
*/

body {
    color: #333;
    font-family: "YouYuan", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}

svg {
	width: 100%;
	height: 100%;
}

svg text {
	line-height: 125%;
	fill: #fff;
}

/********** 01 **********/
#section01 {
    background: rgb(158,122,65);
	background: -moz-linear-gradient(-30deg,  rgba(158,122,65,1) 0%, rgba(255,255,255,1) 60%, rgba(255,255,255,1) 70%, rgba(225,202,139,1) 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(158,122,65,1)), color-stop(60%,rgba(255,255,255,1)), color-stop(70%,rgba(255,255,255,1)), color-stop(100%,rgba(225,202,139,1)));
	background: -webkit-linear-gradient(-30deg,  rgba(158,122,65,1) 0%,rgba(255,255,255,1) 60%,rgba(255,255,255,1) 70%,rgba(225,202,139,1) 100%);
	background: -o-linear-gradient(-30deg,  rgba(158,122,65,1) 0%,rgba(255,255,255,1) 60%,rgba(255,255,255,1) 70%,rgba(225,202,139,1) 100%);
	background: -ms-linear-gradient(-30deg,  rgba(158,122,65,1) 0%,rgba(255,255,255,1) 60%,rgba(255,255,255,1) 70%,rgba(225,202,139,1) 100%);
	background: linear-gradient(150deg,  rgba(158,122,65,1) 0%,rgba(255,255,255,1) 60%,rgba(255,255,255,1) 70%,rgba(225,202,139,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9e7a41', endColorstr='#e1ca8b',GradientType=1 );
}

/********** 02 **********/
#section02 {
	background: rgb(255,150,0);
	background: -moz-linear-gradient(top,  rgba(255,150,0,1) 0%, rgba(255,150,0,1) 26%, rgba(255,150,0,1) 26%, rgba(219,254,255,1) 26%, rgba(219,254,255,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,150,0,1)), color-stop(26%,rgba(255,150,0,1)), color-stop(26%,rgba(255,150,0,1)), color-stop(26%,rgba(219,254,255,1)), color-stop(100%,rgba(219,254,255,1)));
	background: -webkit-linear-gradient(top,  rgba(255,150,0,1) 0%,rgba(255,150,0,1) 26%,rgba(255,150,0,1) 26%,rgba(219,254,255,1) 26%,rgba(219,254,255,1) 100%);
	background: -o-linear-gradient(top,  rgba(255,150,0,1) 0%,rgba(255,150,0,1) 26%,rgba(255,150,0,1) 26%,rgba(219,254,255,1) 26%,rgba(219,254,255,1) 100%);
	background: -ms-linear-gradient(top,  rgba(255,150,0,1) 0%,rgba(255,150,0,1) 26%,rgba(255,150,0,1) 26%,rgba(219,254,255,1) 26%,rgba(219,254,255,1) 100%);
	background: linear-gradient(to bottom,  rgba(255,150,0,1) 0%,rgba(255,150,0,1) 26%,rgba(255,150,0,1) 26%,rgba(219,254,255,1) 26%,rgba(219,254,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9600', endColorstr='#dbfeff',GradientType=0 );
}

#g2-1 path {
	stroke-linejoin: miter;
	stroke:#6CC5EC;
	stroke-linecap:butt;
	stroke-width:5px;
	fill:none;
}

/********** 02 **********/
#section03 {
	background: rgb(219,254,255);
}